header {
    font-style: italic;
    margin: 10px 70px;
}

.links a {
    text-decoration: none;
}

.links li {
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
}

.top-menu li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
}

.top-menu a {
    color: #b2b2b2;
}

.block_title {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.td_class {
    border: solid;
    text-align: center;
    padding: 0px 0px 10px 0px;
}

.button {
    width: 50px;
    border: none;
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
    padding: 10px 10px 0px 10px;
}

.td_class_for_button {
    width: 38px;
}




