<!DOCTYPE html>
{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Departments</title>
    <link rel="stylesheet" href="{% static 'css/common_styles.css' %}" />
    {% block css %}
    
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=oswald:400,300">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif}-->
</head>


<body>


    <div class="wrapper">
        
        <header>
            <nav class="links">
                <ul class="top-menu">
                    <li class="about"><a href="/about/">ABOUT TASK</a></li>
                    <li class="depart"><a href="/department/">DEPARTMENTS TABLE</a></li>
                    <li class="employee"><a href="/employee">EMPLOYEES TABLE</a></li>
                </ul>
            </nav>
        </header>

        <div class="block_title">
            <h1>{% block title %} title {% endblock %}</h1>
        </div>

        <div>
            {% block table %} {% endblock %}
        </div>


    </div>
</body>
</html>