{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/depart_styles.css' %}" />
{% endblock %}

{% block title %} 2 {% endblock %}

{% block table %}
<table class="depart_table">
{% for item in items %}
<tr>
    <td class="td_class">{{item}}</td>
    <td class="td_class td_class_for_button"><button class="button" onclick="Edit()"><image src="{% static 'icons/pencil-svgrepo-com.svg' %}"></image></button></td>
    <td class="td_class td_class_for_button"><button class="button" onclick="Edit()"><image src="{% static 'icons/iconmonstr-trash-can-27.svg' %}"></image></button></td>
</tr>


{% endfor %}
</table>

{% endblock %}