{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/depart_styles.css' %}" />
{% endblock %}

{% block title %} 2 {% endblock %}

{% block table %}
<table class="table">
{% for item in items %}
<tr>
    <td class="td_class">{{item.name}}</td>
    <td class="td_class">{{item.employee_number}}</td>
    <td class="td_button"><input type = "image" src = "C:\Users\Kern\Pictures\IMG_0484.JPG"></td>
    <td class="td_button"><button>delete</button></td>
</tr>


{% endfor %}
</table>
{% endblock %}