{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/employee_styles.css' %}" />
{% endblock %}

{% block title %} 3 {% endblock %}

{% block table %}
<table class="empl_table">
{% for item in items %}
<tr>
    <td class="td_class">{{item.name}}</td>
    <td class="td_class">{{item.department.name}}</td>
    <td class="td_class">{{item.date_of_birth}}</td>
    <td class="td_class">{{item.solary}}</td>
    <td class="td_class td_class_for_button"><button class="button" onclick="Edit()"><image src="{% static 'icons/pencil-svgrepo-com.svg' %}"></image></button></td>
    <td class="td_class td_class_for_button"><button class="button" onclick="Edit()"><image src="{% static 'icons/iconmonstr-trash-can-27.svg' %}"></image></button></td>
</tr>


{% endfor %}
</table>
<h2>Add new employee</h2>
{% endblock %}